/* global-styles.css */

html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('../src/inages/backgraoundImage.jpg'); /* ודא שהנתיב נכון */
    width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-position: center; 
    overflow-x: hidden; /* מסתיר גלילה אופקית */
    overflow-y: auto; /* מאפשר גלילה אנכית */
    padding: 0; /* הסר padding כדי למנוע חריגה */
    margin: 0; /* הסר margin כדי למנוע חריגה */
}
a {
    text-decoration: none; /* הסרת קו תחתון */
    color: black; /* צבע טקסט */
    margin: 30px; /* מרווח סביב הקישורים */
}
